<div class="desktop-camera-container" ng-show="!vm.utils.hidden" style="position: absolute; top: {{elem.top || 0}}px; left: {{elem.left || 0}}px; width: 300px; max-width: 300px; border-radius: 5px; border: 1px solid #ddd; box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12), 0 3px 6px 0 rgba(0,0,0, 0.12); z-index: 10000;">
	
	<div draggable style="display: inline-block; font-weight: bold; padding: 5px; font-size: 0.8em; float: left; width: 50%;"><i class="bi bi-camera-video-fill text-secondary"></i> Video Player</div>
	<div style="float: right; width: 50%; text-align: right; padding-top: 5px; padding-right: 5px;">
		<ul style="display: inline-block; margin: 0px; padding: 0px; list-style-type: none;">
			<li style="float: right; display: inline-block;">
				<a href="javascript: void(0)" ng-click="vm.toggleShow()" style="text-decoration: none;">
					<i class="bi bi-x-lg"></i>
				</a>
			</li>
			<li style="float: right; display: inline-block; margin-right: 5px;">
				<a href="javascript: void(0)" ng-click="vm.toggleMinimised()" style="text-decoration: none;">
					<i class="bi bi-dash-lg" ng-show="!vm.utils.minimised"></i>
					<i class="bi bi-fullscreen" ng-show="vm.utils.minimised"></i>
				</a>
			</li>
		</ul>
	</div>

	<div style="clear: both;"></div>

	<div ng-show="!vm.utils.minimised">

		<div ng-show="vm.utils.media_id">
			
			<div id="VideoPlayer" style="background-color: black; color: #fff;">
	
				<vjs-video-container vjs-media="mediaToggle">
					<video id="IsolatedVideo" class="video-js vjs-default-skin vjs-fluid" controls preload="auto">
					</video>
				</vjs-video-container>

			</div>

		</div>

		<div ng-show="!vm.utils.media_id" style="background-color: #000; background-image: url('images/moving_space.gif'); background-repeat: no-repeat; background-size: auto; background-position: center; color: #fff; text-align: center; padding-top: 45px; padding-bottom: 45px;">
			<span style="font-size: 0.8em; font-weight: bold;">No Video Selected</span>
		</div>

	</div>

</div>