<!-- POOL LISTING LOADING -->
<div ng-show="vm.utils.pool_listing.loading" class="text-center padding margin-top-lg">
    <img src="../images/loading-icon.gif" style="height: 40px; width: auto;">

    <div style="margin-top: 40px;">
        <p style="font-weight: 600;">Risk pool loading...</p>
    </div>

</div>
<!-- END POOL LISTING LOADING -->

<!-- POOL PROJECTS DOWNLOADING -->
<div ng-show="vm.utils.pool_listing.downloading_pools" class="text-center padding margin-top-lg">
    <img src="../images/loading-icon.gif" style="height: 40px; width: auto;">

    <div style="margin-top: 20px;">
        <p style="font-weight: 600;">Downloading pool projects...</p>
    </div>

</div>
<!-- END POOL PROJECTS DOWNLOADING -->

<!-- POOL LISTING LOADING -->
<div ng-show="vm.utils.pool_listing.optimising_profile_imgs" class="text-center padding margin-top-lg">
    <img src="../images/loading-icon.gif" style="height: 40px; width: auto;">

    <div class="fw-bold" style="margin-top: 40px;">
        <h4>We are just optimising this pool project!</h4>

        <p>This may take a minute, but it is a one-off for this project and will speed it up for you in future!</p>
    </div>

</div>
<!-- END POOL LISTING LOADING -->

<div style="margin-bottom: 15px;" ng-hide="vm.utils.pool_listing.loading || vm.utils.project_download.downloading_project || vm.utils.files_download.downloading || vm.utils.pool_listing.downloading_pools || vm.utils.pool_listing.optimising_profile_imgs">
    <a href="javascript: void(0);" ng-click="vm.utils.exitModal()" style="text-decoration: none;">
        <img src="../images/custom_icons/RM Exit Red.png" style="width: 30px;" />
    </a>
</div>

<div class="panel panel-white" ng-hide="vm.utils.pool_listing.loading || vm.utils.project_download.downloading_project || vm.utils.files_download.downloading || vm.utils.pool_listing.downloading_pools || vm.utils.pool_listing.optimising_profile_imgs || !vm.utils.pool_listing.tabs.tabActive('pool_list')">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="form-group py-5">
                    <label>Active Pool Project</label>
                    <div style="font-size: 0.8em; display: block; margin-bottom: 4px;">
                        <span class="text-muted">Can't see the pool you want?</span>
                        <a href="javascript: void(0);" ng-click="vm.utils.pool_project_list.downloadPoolProjects()" class="text-primary">Refresh here</a>
                    </div>
                    <select class="form-select" ng-options="project.rm_id as project.title for project in vm.utils.pool_project_list.data" ng-model="vm.utils.relations.rm_activity_id" ng-change="vm.utils.pool_listing.init();">
                        <option value="">*No Pool Project selected*</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-white container-fluid padding mt-5" ng-show="!vm.utils.pool_listing.loading && !vm.utils.project_download.downloading_project && !vm.utils.files_download.downloading && !vm.utils.pool_listing.downloading_pools && !vm.utils.pool_listing.optimising_profile_imgs && !vm.utils.relations.rm_activity_id">
    <div ng-show="!vm.utils.pool_listing.visible_data.length" class="text-center text-muted" style="padding: 15px; font-weight: bold;">
        <p>There is not an active pool project</p>
    </div>
</div>

<!-- POOL LAST DOWNLOADED INDICATOR -->
<div ng-show="!vm.utils.pool_listing.loading && !vm.utils.project_download.downloading_project && !vm.utils.pool_listing.optimising_profile_imgs && vm.utils.active_pool_project.latest_fetch_record != null && vm.utils.active_pool_project.latest_fetch_record.date_finished" class="alert alert-info mt-5">
    <p class="mb-0">Risk pool last download <span class="fw-bold" ng-bind="vm.utils.active_pool_project.latest_fetch_record.date_finished | date: 'dd/MM/yyyy HH:mm a'"></span></p>
</div>
<!-- END POOL LAST DOWNLOADED INDICATOR -->

<div class="card h-100 mt-5" style="margin-bottom: 30px;" ng-hide="vm.utils.pool_listing.loading || vm.utils.project_download.downloading_project || vm.utils.files_download.downloading || vm.utils.pool_listing.downloading_pools || vm.utils.pool_listing.optimising_profile_imgs || !vm.utils.relations.rm_activity_id || !vm.utils.pool_listing.tabs.tabActive('pool_list') || (vm.utils.active_pool_project.latest_fetch_record != null && vm.utils.active_pool_project.latest_fetch_record.date_finished == null)">
    <div class="container-fluid padding">
        <div class="card-header row">
            <div class="col-12 col-sm-6">
                <h4 class="mb-0">Pool Risk Assessments</h4>
            </div>
            <div class="col-12 col-sm-6 text-end mt-4 mt-sm-0">
                <ul class="menu-list-inline">
                    <li>
                        <button class="btn btn-primary btn-sm" ng-click="vm.utils.pool_listing.tabs.changeTab('download_confirmation')"><i class="bi bi-arrow-clockwise"></i> Refresh</button>
                    </li>
                    <li>
                        <button class="btn btn-primary btn-sm" ng-click="vm.utils.files_download.downloadPoolMedia()"><i class="bi bi-arrow-clockwise"></i> Download Media</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div>
                        <div>
                            <input type="text" class="form-control" ng-model="vm.utils.pool_listing.filters.general_search" placeholder="Search Pool Assessments...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <ul class="menu-list-inline">
                        <li style="margin-left: 0px;">
                            <button class="btn btn-success btn-sm" ng-click="vm.utils.item_select.cloneSelectedRisks()" ng-disabled="vm.utils.item_select.selected_items.length == 0">

                                <span ng-show="vm.utils.dest_relations.mode == 'add'">Clone selected risks (<span ng-bind="vm.utils.item_select.selected_items.length || '0'"></span>)</span>
                                <span ng-show="vm.utils.dest_relations.mode == 'replace_risk'">Replace risk</span>
                                <span ng-show="vm.utils.dest_relations.mode == 'suggest_risk'">Suggest risk replacement</span>

                            </button>
                        </li>
                    </ul>
                </div>
                <div class="col-6 text-end">
                    <ul class="menu-list-inline">
                        <li>
                            <button class="btn btn-primary btn-sm" ng-click="vm.utils.pool_listing.filterByQuestion('Yes')" ng-show="vm.utils.pool_listing.filters.linked_question == null && vm.utils.relations.rm_question_ref != null">View Question Risks</button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-sm" ng-click="vm.utils.pool_listing.filterByQuestion('No')" ng-show="vm.utils.pool_listing.filters.linked_question">View all Pool Risks</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!vm.utils.pool_listing.visible_data.length" class="text-center text-muted" style="padding: 15px; font-weight: bold;">No assessments found</div>

    <div class="row bg-light tr-list-item" style="max-width: 100%; margin-left: 0px; margin-right: 0px;" ng-show="vm.utils.pool_listing.visible_data.length">
        <div class="d-none d-md-inline-block col-md-2">
            <!-- SPACER -->
        </div>
        <div class="col-12 col-md-10">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
                <div class="col-12">
                    <span class="tr-list-header" style="font-weight: 600;">Details</span>
                </div>
            </div>
        </div>
    </div>

    <div class="tr-list-item" style="margin-left: 0px; margin-right: 0px;" dir-paginate="ra in vm.utils.pool_listing.visible_data | filter: vm.utils.pool_listing.filters.general_search | orderBy: '-date_added' | itemsPerPage: vm.utils.pool_listing.pagination.items_per_page : 'risk_pool' track by ra._id" pagination-id="risk_pool">
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="col-6 col-md-2">
                <div ng-show="ra.profile_img_url" style="padding-left: 0px; padding-right: 0px;">
                    <img src="{{ ra.profile_img_url }}" style="max-width: 100%; border-radius: 0.5rem!important;">
                </div>

                <div class="text-center" ng-show="!ra.profile_img_url && !ra.profile_img_download_required" style="padding-left: 0px; padding-right: 0px;">
                    <img src="../images/custom_icons/No Media.png" style="max-width: 100%; border-radius: 0.5rem!important;">
                </div>

                <div ng-show="ra.profile_img_download_required && !ra.loading_profile_img && !ra.downloading_files_multiple" class="text-center pt-4" style="padding-left: 0px; padding-right: 0px;">
                    <a href="javascript: void(0);" ng-click="vm.utils.pool_risk_media.downloadRiskMedia(ra)">
                        <i class="bi bi-cloud-arrow-down-fill text-primary" style="font-size: 3em;"></i>
                    </a>
                </div>

                <div class="text-center pt-4">
                    <img ng-show="ra.loading_profile_img || ra.downloading_files_multiple" src="../images/loading-icon.gif" style="height: 40px; width: auto;">    
                </div>
                
            </div>
            <div class="col-6 d-md-none">
                <ul class="menu-list-inline text-end">
                    <li>
                        <a href="javascript: void(0)" ng-click="vm.utils.active_pool_risk.select(ra); vm.utils.active_pool_risk.tabs.changeTab('media');" style="text-decoration: none;" ng-class="{ 'text-secondary': !ra.num_files, 'text-success': ra.num_files }">
                            <i class="bi bi-images"></i> <span style="font-size: 0.8em;">(<span ng-bind="ra.num_files || '0'"></span>)</span>
                        </a>
                    </li>
                    <li>
                        <div data-toggle-on-clipboard data-iteminfo="{ record_type: 'assessment', record_id: ra._id, record_ref: null, data_type: null, data: null, title: ra.hazard_type_name, description: ra.hazard_description }"></div>
                    </li>
                    <li>
                        <a href="javascript: void(0);" ng-click="vm.utils.item_select.toggleSelectRiskForClone(ra)" ng-style="vm.utils.item_select.itemSelectStyle(ra)" style="display: inline-block; border: 2px solid #F3F3F4; border-radius: 50%; width: 30px; height: 30px; line-height: 25px; text-align: center; text-decoration: none;">
                            <i class="bi bi-check2" style="font-size: 1.2em;"></i>
                        </a>
                    </li>
                </ul>

                <div class="mt-2">
                    <span ng-bind="ra.hazard_type_name || '-'" style="font-weight: bold; font-size: 0.8em; font-style: italic;" class="text-muted"></span> | <span ng-bind="ra.hazard_origin_name || '-'" style="font-size: 0.8em; font-style: italic;" class="text-muted"></span> | <span ng-bind="ra.hazard_consequence_name || '-'" style="font-size: 0.8em; font-style: italic;" class="text-muted"></span>

                    <div ng-show="!ra.rm_id">
                        <span class="badge text-bg-warning"><i class="bi bi-cloud-slash-fill"></i> Unsubmitted</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-10">
                <div class="row d-none d-md-flex" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-6">
                        <div style="margin-bottom: 5px;">
                            <span ng-bind="ra.hazard_type_name || '-'" style="font-weight: bold; font-size: 0.8em; font-style: italic;" class="text-muted"></span> | <span ng-bind="ra.hazard_origin_name || '-'" style="font-size: 0.8em; font-style: italic;" class="text-muted"></span> | <span ng-bind="ra.hazard_consequence_name || '-'" style="font-size: 0.8em; font-style: italic;" class="text-muted"></span>

                            <div ng-show="!ra.rm_id">
                                <span class="badge text-bg-warning"><i class="bi bi-cloud-slash-fill"></i> Unsubmitted</span>
                            </div>
                        </div>
                        <!-- <div>
                            <span ng-bind="ra.rm_id"></span>
                        </div> -->
                    </div>

                    <div class="col-6 text-end">
                        <ul class="menu-list-inline text-nowrap">
                            <li>
                                <a href="javascript: void(0)" ng-click="vm.utils.active_pool_risk.select(ra); vm.utils.active_pool_risk.tabs.changeTab('media');" style="text-decoration: none;" ng-class="{ 'text-secondary': !ra.num_files, 'text-success': ra.num_files }">
                                    <i class="bi bi-images"></i> <span style="font-size: 0.8em;">(<span ng-bind="ra.num_files || '0'"></span>)</span>
                                </a>
                            </li>
                            <li>
                                <div data-toggle-on-clipboard data-iteminfo="{ record_type: 'assessment', record_id: ra._id, record_ref: null, data_type: null, data: null, title: ra.hazard_type_name, description: ra.hazard_description }"></div>
                            </li>
                            <li>
                                <a href="javascript: void(0);" ng-click="vm.utils.item_select.toggleSelectRiskForClone(ra)" ng-style="vm.utils.item_select.itemSelectStyle(ra)" style="display: inline-block; border: 2px solid #F3F3F4; border-radius: 50%; width: 30px; height: 30px; line-height: 25px; text-align: center; text-decoration: none;">
                                    <i class="bi bi-check2" style="font-size: 1.2em;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mt-4" style="margin-left: 0px; margin-right: 0px;">
                    <div class="col-12">
                        <!-- SHORTENED DESCRIPTION -->
                        <!-- <a href="javascript: void(0);" ng-click="vm.utils.active_pool_risk.select(ra); vm.utils.active_pool_risk.tabs.changeTab('control_measure');" class="text-dark" ng-show="!vm.utils.active_pool_risk.isActive(ra)" ng-bind="ra.hazard_description | limitTo: 250"></a><span ng-show="ra.hazard_description.length > 250 && !vm.utils.active_pool_risk.isActive(ra)">...</span> -->

                        <a href="javascript: void(0);" ng-click="vm.utils.active_pool_risk.select(ra); vm.utils.active_pool_risk.tabs.changeTab('control_measure');" class="text-dark" ng-show="!vm.utils.active_pool_risk.isActive(ra)">
                            <span ng-bind="ra.hazard_description | limitTo: 250"></span><span ng-show="ra.hazard_description.length > 250 && !vm.utils.active_pool_risk.isActive(ra)">...</span>
                        </a>

                        <!-- FULL DESCRIPTION -->
                        <a href="javascript: void(0);" class="text-dark" ng-show="vm.utils.active_pool_risk.isActive(ra)" ng-bind="ra.hazard_description"></a>
                    </div>
                </div>

                <div class="row" style="margin-left: 0px; margin-right: 0px;" ng-show="vm.utils.active_pool_risk.isActive(ra);">
                    <div class="col-12 mt-4" ng-show="vm.utils.active_pool_risk.tabs.tabActive('control_measure')">
                        <div>
                            <span class="text-dark fw-bold">Control</span>
                        </div>
                        <div>
                            <span class="text-dark" ng-bind="ra.control_description"></span>
                        </div>
                    </div>

                    <div class="col-12" ng-show="vm.utils.active_pool_risk.tabs.tabActive('media')">

                        <!-- START IMAGES CONTAINER -->
                        <div style="margin-top: 20px;">

                            <!-- START LOADING INDICATOR -->
                            <div ng-show="vm.utils.pool_risk_media.loading" class="text-center">
                                <img src="../images/loading-icon.gif" style="height: 40px; width: auto;" >

                                <div class="mt-4">
                                    <span class="fw-bold">Loading media...</span>
                                </div>
                            </div>
                            <!-- END LOADING INDICATOR -->

                            <!-- START NO IMAGES -->
                            <div ng-show="!vm.utils.pool_risk_media.media_records.length && !vm.utils.pool_risk_media.loading" class="text-center">
                                <span class="fw-bold">No images for this pool risk assessment</span>
                            </div>
                            <!-- END NO IMAGES -->
                            
                            <div ng-show="vm.utils.pool_risk_media.media_records.length && !vm.utils.pool_risk_media.loading" class="media-grid">

                                <div ng-repeat="(file_index, file_data) in vm.utils.pool_risk_media.media_records | filter: { is_video: false, is_audio: false } track by file_data._id" ng-style="vm.utils.mediaStyle(file_data);" style="border-radius: 5px; padding: 5px; position: relative;">

                                    <div class="text-center" ng-show="file_data.downloading_file">
                                        <img src="../images/loading-icon.gif" style="height: 40px; width: auto;">
                                    </div>

                                    <div ng-show="file_data.file_downloaded == null && !file_data.downloading_file" class="text-center padding">
                                        <a href="javascript: void(0);" style="text-decoration: none;" ng-click="vm.utils.pool_risk_media.downloadMediaFile(file_data, ra)">
                                            <i class="bi bi-cloud-arrow-down-fill text-primary" style="font-size: 2.5em;"></i>
                                        </a>
                                    </div>
                                    
                                    <a href="javascript: void(0);" style="text-decoration: none;" ng-show="file_data.file_downloaded == 'Yes'">
                                        <img ng-src="{{ file_data.url }}" class="img-fluid" />
                                    </a>

                                </div>

                            </div>

                        </div>
                        <!-- END IMAGES CONTAINER -->

                    </div>
                </div>
            </div>

        </div>
            
    </div>
</div>

    <!-- PAGINATION CONTROLS -->
    <div class="text-end" style="margin-top: 40px;" ng-show="!vm.utils.pool_listing.loading && !vm.utils.pool_listing.optimising_profile_imgs">
        <dir-pagination-controls pagination-id="risk_pool"></dir-pagination-controls>
    </div>
    <!-- END PAGINATION CONTROLS -->
</div>

<!-- POOL PROJECT DOWNLOADING -->
<div ng-show="vm.utils.project_download.downloading_project" class="text-center padding margin-top-lg alert alert-light">
    <img src="../images/loading-icon.gif" style="height: 40px; width: auto;">

    <div style="margin-top: 20px;">
        <p class="text-secondary" style="font-weight: 600;">Downloading system pool...</p>
    </div>

    <!-- POOL PROJECT DOWNLOAD STATUS -->
    <div class="margin-top-lg" style="padding-left: 10%; padding-right: 10%;">
        <div class="alert alert-primary padding">
            <p class="text-primary" ng-bind="vm.utils.project_download.display_message || 'Initialising'"></p>
            <p ng-show="vm.utils.project_download.active_fetch_item.record.status == 'Installing'">
                <span ng-bind="vm.utils.project_download.active_fetch_item.record.total_items_installed"></span> / <span ng-bind="vm.utils.project_download.active_fetch_item.record.total_items"></span> installed
            </p>
        </div>
    </div>
    <!-- END POOL PROJECT DOWNLOAD STATUS -->

</div>
<!-- END POOL PROJECT DOWNLOADING -->

<!-- PROJECT FILES DOWNLOADING -->
<div ng-show="vm.utils.files_download.downloading" class="text-center padding margin-top-lg alert alert-light">
    <img src="../images/loading-icon.gif" style="height: 40px; width: auto;">

    <div style="margin-top: 20px;">
        <p class="text-secondary" style="font-weight: 600;">Downloading pool files...</p>
    </div>

    <!-- PROJECT FILES DOWNLOAD STATUS -->
    <div class="margin-top-lg" style="padding-left: 10%; padding-right: 10%;">
        <div class="alert alert-primary padding">
            <p class="text-primary" ng-bind="vm.utils.files_download.meta.display_message || 'Initialising'"></p>
            <br>
            <p style="font-size: 1.2em;">Total files: <span style="color: black;" ng-bind="vm.utils.files_download.meta.num_media || '0'"></span></p>
            <p style="font-size: 1.2em;">Total downloaded: <span style="color: black;" ng-bind="vm.utils.files_download.meta.num_media_downloaded || '0'"></span></p>
        </div>

        <div class="text-muted" style="font-size: 0.8em; margin-top: 10px;">If you don't want to wait, you can cancel downloading the icons for now and get them later</div>
        <br>
        <a class="text-danger" style="font-size: 0.8em; font-weight: 600;" href="javascript: void(0);" ng-click="vm.utils.files_download.cancel()">Cancel download</a>
    </div>
    <!-- END PROJECT FILES DOWNLOAD STATUS -->

</div>
<!-- END PROJECT FILES DOWNLOADING -->

<!-- INCOMPLETE CORE DOWNLOAD NOTICE -->
<div style="margin-bottom: 15px;" ng-show="!vm.utils.pool_listing.loading && !vm.utils.project_download.downloading_project && !vm.utils.pool_listing.optimising_profile_imgs && vm.utils.active_pool_project.latest_fetch_record != null && vm.utils.active_pool_project.latest_fetch_record.date_finished == null">
    <div class="alert alert-danger">
        <p class="text-center text-muted">The last project download you attempted on <span ng-bind="vm.utils.active_pool_project.latest_fetch_record.date_started | date: 'dd-MM-yyyy HH:mm:ss'" style="font-weight: 600;"></span> was incomplete</p>
    </div>

    <div class="container margin-top-lg text-center">
        <button class="btn btn-primary" style="padding: 5px; text-align: center; border: none; font-weight: 500; border-radius: 5px; display: inline-block;" ng-click="vm.utils.project_download.reAttemptRefresh(vm.utils.active_pool_project.latest_fetch_record._id)">
            <i class="bi bi-arrow-clockwise"></i>
            <span> Retry Refreshing Pool from where you left off</span>
        </button>

        <br>
        <br>

        <button class="btn btn-success" style="padding: 5px; text-align: center; border: none; font-weight: 500; border-radius: 5px; display: inline-block;" ng-click="vm.utils.project_download.downloadProjectData(vm.utils.relations.rm_activity_id, 'Continue')">
            <i class="bi bi-arrow-clockwise"></i>
            <span> Start New Project Refresh from the start</span>
        </button>
    </div>
</div>
<!-- END INCOMPLETE CORE DOWNLOAD NOTICE -->

<!-- POOL DOWNLOAD CONFIRMATION -->
<div ng-show="vm.utils.pool_listing.tabs.tabActive('download_confirmation')">
    <div>
        <p class="text-center text-muted">Are you sure you want to refresh the pool project?</p>
        <p class="text-center text-muted">This may take a while depending on the size of the project.</p>
    </div>

    <div class="container margin-top-lg">
        <div class="row">
            <div class="col-6 text-end">
                <button type="button" class="btn btn-primary" ng-click="vm.utils.project_download.downloadProjectData(vm.utils.relations.rm_activity_id, 'Continue'); vm.utils.pool_listing.tabs.changeTab('pool_list');">Confirm</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-danger" ng-click="vm.utils.pool_listing.tabs.changeTab('pool_list')">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- END POOL DOWNLOAD CONFIRMATION