<div style="width: 100%; color: #000;">
	
	<!-- PROCEDURE INFO -->
	<div class="row mt-5">
		<div class="col-8">
			<span style="color: #333; font-size: 12pt;">Standard Operating Procedure</span>
			<br ng-show="vm.utils.pdf_gen.data.structured_procedure.procedure_record.external_task_ref">
			<span ng-show="vm.utils.pdf_gen.data.structured_procedure.procedure_record.external_task_ref">
				<span style="color: #333; font-size: 8pt;">Document number: </span><span style="color: #000; font-size: 8pt; font-weight: 600;" ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.external_task_ref"></span>
			</span>
			<br>
			<span style="font-weight: bold; font-size: 12pt; color: #000;" ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.title || 'Not named'"></span>

			<div class="row" style="margin-top: 20px;">
				<div class="col-4" style="text-align: center;">

					<div ng-show="vm.utils.pdf_gen.data.structured_procedure.subject_record.media.length" ng-repeat="media in vm.utils.pdf_gen.data.structured_procedure.subject_record.media | limitTo: 1">
						<img ng-show="media.file_downloaded == 'Yes'" ng-src="{{ media.url }}" style="max-width: 100%; height: auto;" >

						<img ng-show="media.file_downloaded == null" src="../images/custom_icons/media-file-not-downloaded.png" style="max-width: 100%; height: auto;" >
					</div>

					<div ng-show="!vm.utils.pdf_gen.data.structured_procedure.subject_record.media.length">
						<img style="max-width: 100%;" src="../images/custom_icons/No Media.png">
					</div>
					
				</div>
				<div class="col-8">
					<span style="font-size: 8pt; color: #333;">Managed Risk</span>

					<div style="width: 90%; font-weight: 600; background-color: {{ vm.utils.pdf_gen.data.structured_procedure.procedure_record.mr_initial_colour }}; color: #fff; text-align: center; margin-bottom: 5px;">
						<span>
							<span ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.mr_matrix_score_phrase_initial"></span> [<span ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.mr_matrix_score_initial"></span>]
						</span>
					</div>

					<div style="margin-bottom: 5px;">
						<span style="font-size: 8pt; color: #333;">Subject</span>
						<br>
						<span style="font-size: 10pt; font-weight: bold; color: #000;" ng-bind="vm.utils.pdf_gen.data.structured_procedure.subject_record.asset_ref || 'Not named'"></span>
					</div>

					<div>
						<span style="font-size: 8pt; color: #333;">Location</span>
						<br>
						<span style="color: #000;">--/--</span>
					</div>

				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="row">
				<div class="col-6">
					<div style="line-height: 10pt; margin-bottom: 5px;">
						<span style="color: #333; font-size: 8pt;">Issued</span>
						<br>
						<span style="font-weight: bold; font-size: 8pt; color: #000;" ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.todays_date | date: 'dd/MM/yyyy'"></span>
					</div>

					<div style="line-height: 10pt; margin-bottom: 5px;">
						<span style="color: #333; font-size: 8pt;">Approved By</span>
						<br>
						<span style="font-weight: bold; font-size: 8pt; color: #000;" ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.approved_by_name"></span>
						<br>
						<span style="font-size: 6pt; color: #000;" ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.date_approved | date: 'dd-MM-yyyy'"></span>
					</div>

					<div ng-show="vm.utils.pdf_gen.data.structured_procedure.procedure_record.signature_record">
						<img ng-show="vm.utils.pdf_gen.data.structured_procedure.procedure_record.signature_record.file_downloaded == 'Yes'" ng-src="{{ vm.utils.pdf_gen.data.structured_procedure.procedure_record.signature_record.url }}" style="width: 100%; height: auto;">

						<img ng-show="vm.utils.pdf_gen.data.structured_procedure.procedure_record.signature_record.file_downloaded == null" ng-src="../images/custom_icons/media-file-not-downloaded.png" style="width: 100%; height: auto">
					</div>

					<!-- <div style="margin-bottom: 5px;">
						<span style="color: #333; font-size: 8pt;">Reviewed By</span>
						<br />
						<span style="font-size: 8pt; color: #000;">--/--</span>
					</div>
					<div style="margin-bottom: 5px;">
						<span style="color: #333; font-size: 8pt;">Owner</span>
						<br />
						<span style="font-size: 8pt; color: #000;">--/--</span>
					</div> -->
				</div>
				<div class="col-6" style="text-align: center;">
					<div id="procedure-qrcode" style="width: 90%; height: 100%; margin-bottom: 10px;"></div>

					<span style="color: #333; font-size: 8pt;">
						<span ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.rm_ref || '-'"></span> <span ng-bind="vm.utils.pdf_gen.data.structured_procedure.procedure_record.revision_number || '-'"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- END PROCEDURE INFO -->


	<!-- RELEVANT HAZARD TYPES/CONTROL TYPES -->
	<div class="row" style="margin-top: 40px;">
		<div class="col-6">
			<div style="font-weight: bold; color: #000; background-color: #ddd; width: 100%; padding-left: 4px;">
				<span>Relevant Hazard Types</span>
			</div>
			<div>
				<span style="font-size: 6pt; color: #333; font-style: italic;">**A hazard type may occur multiple time within the procedure</span>
			</div>

			<div class="row" style="margin-top: 20px;">
				<div class="col-6" ng-repeat="hazard_type in vm.utils.pdf_gen.data.unique_hazard_types" style="text-align: center; margin-bottom: 20px;">
					<img ng-src="{{ hazard_type.hazard_type_icon_path }}" style="max-width: 40px; max-height: 40px;">
					<br>
					<span ng-bind="hazard_type.hazard_type_name || 'Not named'" style="font-size: 8pt; color: #000;"></span>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div style="font-weight: bold; color: #000; background-color: #ddd; width: 100%; padding-left: 4px;">
				<span>Relevant Control Types</span>
			</div>
			<div>
				<span style="font-size: 6pt; color: #333; font-style: italic;">**A control type may occur multiple times within the procedure</span>
			</div>

			<div class="row" style="margin-top: 20px;">
				<div class="col-6" ng-repeat="control_type in vm.utils.pdf_gen.data.unique_control_types" style="text-align: center; margin-bottom: 20px;">

					<img ng-src="{{ control_type.icon_url }}" style="max-width: 40px; max-height: 40px;">

					<!-- <span ng-bind="control_type.icon_url || 'N/A'"></span> -->

					<!-- <img src="../images/rrm_icons/ISO7010/ISO_7010_F001.svg.png" style="max-width: 40px; max-height: 40px;"> -->
					<br>
					<span ng-bind="control_type.rrm3_name || 'Not named'" style="font-size: 8pt; color: #000;"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- END RELEVANT HAZARD TYPES/CONTROL TYPES -->


	<!-- SIGNIFICANT CONCERNS -->
	<div class="row">
		<div class="col-12">
			<div style="width: 100%; font-weight: bold; background-color: #eee; border: 1px solid #eee; padding: 6px;">
				<span style="font-size: 10pt; color: #000;">! Significant Concerns (S.C.) <span style="font-size: 8pt; color: #333;">Where the author recognises a significant risk that could have been avoided by design or planning.</span></span>
			</div>

			<div class="row" style="width: 100%; font-weight: bold; background-color: #eee; border: 1px solid #eee; font-size: 8pt; color: #000; margin-left: 0px; margin-right: 0px; padding: 6px;">
				<div class="col-4">
					<span>Step</span>
				</div>
				<div class="col-4">
					<span>Category</span>
				</div>
				<div class="col-4">
					<span>Concern</span>
				</div>
			</div>

			<div class="row" ng-show="!vm.utils.pdf_gen.data.significant_concerns.length" style="margin-left: 0px; margin-right: 0px;">
				<div class="col-12" style="border: 1px solid #eee; font-weight: bold; color: #333; font-size: 8pt; text-align: center; padding: 6px;">
					<span>The author has not identified any significant concerns for this procedure</span>
				</div>
			</div>

			<div class="row" ng-show="vm.utils.pdf_gen.data.significant_concerns.length" ng-repeat="concern in vm.utils.pdf_gen.data.significant_concerns" style="margin-left: 0px; margin-right: 0px; color: #000; border: 1px solid #eee;">
				<div class="col-4" style="border: 1px solid #eee;">
					<span style="font-size: 6pt; font-weight: bold;">(<span ng-bind="concern.section_title"></span>)</span>
					<br>
					<span style="font-weight: bold; font-size: 8pt;">
						<span ng-bind="concern.section_index"></span>.<span ng-bind="concern.step_index"></span>
					</span> <span ng-bind="concern.step_name" style="font-size: 8pt;"></span>
				</div>
				<div class="col-4" style="border: 1px solid #eee;">
					<img ng-src="{{ concern.icon_path }}" style="width: 16px; height: 16px; display: inline-block;" >
					<span ng-bind="concern.concern_category" style="font-weight: bold; font-size: 8pt;"></span>
				</div>
				<div class="col-4" style="border: 1px solid #eee;">
					<span ng-bind="concern.concern_description" style="font-size: 8pt;"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- END SIGNIFICANT CONCERNS -->


	<!-- PROCEDURE SECTIONS -->
	<div class="row" style="margin-top: 20px; margin-bottom: 20px;">
		<div class="col-12">
			<div style="width: 100%; font-weight: bold; background-color: #ddd; border: 1px solid #eee; padding: 6px;">
				<span style="font-size: 10pt; color: #000;">Procedure Sections</span>
			</div>

			<div class="row" ng-repeat="section in vm.utils.pdf_gen.data.structured_procedure.sections" style="margin-left: 0px; margin-right: 0px;">
				<div class="col-12" style="border-right: 2px solid #eee; border-bottom: 2px solid #eee; border-left: 2px solid #eee; font-size: 10pt; color: #000; padding-top: 4px; padding-bottom: 4px;">
					<span ng-bind="section.section_index"></span>. <span ng-bind="section.title"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- END PROCEDURE SECTIONS -->

	<div class="break-before"></div>

	<!-- START STRUCTURED PROCEDURE -->
	<div class="row" ng-repeat="section in vm.utils.pdf_gen.data.structured_procedure.sections">
		<div class="col-12">
			<div style="width: 100%; font-weight: bold; background-color: #ddd; padding: 6px;">
				<span style="color: #666; font-size: 8pt; font-weight: bold;">Section <span ng-bind="section.section_index"></span></span>. <span style="font-size: 10pt; color: #000;" ng-bind="section.title"></span>
			</div>

			<!-- START SECTIONS HAZARDS AND CONTROLS -->
			<div class="row" ng-show="section.hazards_w_controls.length" style="margin-top: 10px;">
				<div class="col-12">
					<span style="color: #000; font-size: 8pt; font-weight: bold;">The following hazards and controls are applicable to all of the steps within this section</span>
				</div>
			</div>

			<div class="row mb-4" ng-repeat="hazard in section.hazards_w_controls track by $index" ng-show="section.hazards_w_controls.length" style="margin-top: 20px;">
				<!-- START HAZARD INFO -->
				<div class="col-6">
					<div class="row">
						<div class="col-1" style="text-align: center;">
							<img ng-src="{{ hazard.index_icon_path }}" style="width: 20px; height: 20px;" >
						</div>
						<div class="col-4">
							<img ng-src="{{ hazard.hazard_type_icon_path }}" style="max-width: 100%; height: auto;" >
						</div>
						<div class="col-4">
							<span style="font-weight: bold; font-size: 8pt; color: #000;" ng-bind="hazard.hazard_type_name"></span> <span style="font-size: 8pt; color: #666;">[<span ng-bind="hazard.rm_ref"></span>]</span>
						</div>
						<div class="col-3">
							<span style="font-size: 8pt; color: {{ hazard.initial_colour }};" ng-bind="hazard.matrix_score_phrase_initial"></span> <span style="font-size: 8pt; color: {{ hazard.initial_colour }}">[<span ng-bind="hazard.matrix_score_initial"></span>]</span>
						</div>
					</div>
				</div>
				<!-- END HAZARD INFO -->

				<!-- START HAZARDS CONTROLS -->
				<div class="col-6">
					<div class="row" ng-repeat="control in hazard.controls" ng-show="hazard.controls.length">
						<div class="col-1">
							<img ng-src="{{ control.index_icon_path }}" style="width: 20px; height: 20px;" >
						</div>
						<div class="col-4">
							<img ng-show="control.icon_url" ng-src="{{ control.icon_url }}" style="max-width: 100%; height: auto;" >

							<img ng-show="!control.icon_url" src="../images/custom_icons/Control Item Grey.png" style="max-width: 100%; height: auto;" >
						</div>
						<div class="col-4" style="font-size: 8pt; color: #000;">
							<span style="font-weight: bold;" ng-bind="control.rrm3_name"></span>, <span ng-bind="control.rrm1_name"></span>, <span ng-bind="control.rrm2_name"></span>
						</div>
						<div class="col-3" style="text-align: right;">
							<span style="font-size: 8pt; color: #666;">[<span ng-bind="control.rm_ref"></span>]</span>
						</div>
					</div>

					<div class="row" ng-show="!hazard.controls.length">
						<div class="col-12" style="text-align: center;">
							<span style="color: #000; font-size: 8pt; font-weight: bold;">No relevant controls recorded for this hazard</span>
						</div>
					</div>
				</div>
				<!-- END HAZARDS CONTROLS -->
			</div>
			<!-- END SECTIONS HAZARDS AND CONTROLS -->

			<div class="row break-avoid" style="margin-left: 0px; margin-right: 0px;" ng-repeat="step in section.steps" ng-show="section.steps.length">
				<div class="col-12" style="padding: 0px;">
					<div style="width: 100%; background-color: #eee; padding: 6px;">
						<div style="display: inline-block; vertical-align: top; font-weight: bold; margin-right: 10px;">
							<span style="font-size: 8pt; color: #666;"><span ng-bind="step.section_index"></span>.<span ng-bind="step.step_index"></span></span>
						</div>
						<div style="display: inline-block;">
							<span style="color: #000; font-size: 10pt;" ng-bind="step.description"></span>

							<div ng-show="step.concern_category">
								<img ng-src="{{ step.concern_icon_path }}" style="width: 16px; height: 16px; display: inline-block;" >
								<span style="font-size: 8pt; color: #000;">
									<span style="font-weight: bold;" ng-bind="step.concern_category"></span>: 
									<span ng-bind="step.concern_description"></span>
								</span>
							</div>
						</div>
					</div>

					<!-- START STEP MEDIA -->
					<div class="row" style="background-color: #fff; margin-left: 0px; margin-right: 0px; margin-top: 5px;" ng-show="step.media.length">
						<div class="col-6" ng-repeat="media in step.media">
							<img ng-show="media.file_downloaded == 'Yes'" ng-src="{{ media.url }}" style="width: 100%; height: auto">

							<img ng-show="media.file_downloaded == null" ng-src="../images/custom_icons/media-file-not-downloaded.png" style="width: 100%; height: auto">

							<!-- START ANNOTATIONS -->
							<div class="row" ng-repeat="annotation in media.annotations" ng-show="media.annotations.length" style="margin-top: 4px;">
								<div class="col-12">
									<img style="display: inline-block; margin-right: 2px; width: 25px;" src="../images/markers/{{ annotation.file_name }}">
									<span style="font-size: 8pt; color: #000;" ng-bind="annotation.description"></span>
								</div>
							</div>
							<!-- END ANNOTATIONS -->
						</div>
					</div>
					<!-- END STEP MEDIA -->


					<!-- START STEPS HAZARDS AND CONTROLS -->
					<div class="row mb-4" ng-repeat="hazard in step.hazards_w_controls track by $index" ng-show="step.hazards_w_controls.length" style="margin-top: 20px;">
						<!-- START HAZARD INFO -->
						<div class="col-6">
							<div class="row">
								<div class="col-1" style="text-align: center;">
									<img ng-src="{{ hazard.index_icon_path }}" style="width: 20px; height: 20px;" >
								</div>
								<div class="col-4">
									<img ng-src="{{ hazard.hazard_type_icon_path }}" style="max-width: 100%; height: auto;" >
								</div>
								<div class="col-4">
									<span style="font-weight: bold; font-size: 8pt; color: #000;" ng-bind="hazard.hazard_type_name"></span> <span style="font-size: 8pt; color: #666;">[<span ng-bind="hazard.rm_ref"></span>]</span>
								</div>
								<div class="col-3">
									<span style="font-size: 8pt; color: {{ hazard.initial_colour }};" ng-bind="hazard.matrix_score_phrase_initial"></span> <span style="font-size: 8pt; color: {{ hazard.initial_colour }}">[<span ng-bind="hazard.matrix_score_initial"></span>]</span>
								</div>
							</div>
						</div>
						<!-- END HAZARD INFO -->

						<!-- START HAZARDS CONTROLS -->
						<div class="col-6">
							<div class="row" ng-repeat="control in hazard.controls" ng-show="hazard.controls.length">
								<div class="col-1">
									<img ng-src="{{ control.index_icon_path }}" style="width: 20px; height: 20px;" >
								</div>
								<div class="col-4">
									<img ng-show="control.icon_url" ng-src="{{ control.icon_url }}" style="max-width: 100%; height: auto;" >

									<img ng-show="!control.icon_url" src="../images/custom_icons/Control Item Grey.png" style="max-width: 100%; height: auto;" >
								</div>
								<div class="col-4" style="font-size: 8pt; color: #000;">
									<span style="font-weight: bold;" ng-bind="control.rrm3_name"></span>, <span ng-bind="control.rrm1_name"></span>, <span ng-bind="control.rrm2_name"></span>
								</div>
								<div class="col-3" style="text-align: right;">
									<span style="font-size: 8pt; color: #666;">[<span ng-bind="control.rm_ref"></span>]</span>
								</div>
							</div>

							<div class="row" ng-show="!hazard.controls.length">
								<div class="col-12" style="text-align: center;">
									<span style="color: #000; font-size: 8pt; font-weight: bold;">No relevant controls recorded for this hazard</span>
								</div>
							</div>
						</div>
						<!-- END HAZARDS CONTROLS -->
					</div>

					<div class="row py-5" ng-show="!step.hazards_w_controls.length">
						<div class="col-12" style="text-align: center;">
							<span style="color: #000; font-size: 8pt; font-weight: bold;">The author has not identified any hazards for this step</span>
						</div>
					</div>
					<!-- END STEPS HAZARDS AND CONTROLS -->
				</div>
			</div>

			<div class="row" ng-show="!section.steps.length">
				<div class="col-12 text-center">
					<span style="font-size: 10pt; color: #000;">No steps for this section</span>
				</div>
			</div>
		</div>
	</div>
	<!-- END STRUCTURED PROCEDURE -->


	<!-- HAZARD/CONTROL APPENDIX -->
	<div class="break-before"></div>

	<div class="row mt-5">
		<div class="col-12">
			<h4 style="color: #000;">Appendix - Detailed Hazards and Controls List</h4>
		</div>
	</div>

	<div class="row" ng-repeat="hazard in vm.utils.pdf_gen.data.hazards" ng-show="vm.utils.pdf_gen.data.hazards.length" style="margin-top: 6px;">
		<div class="col-12">
			<!-- START HAZARD INFO -->
			<div style="background-color: #f5f4f5; padding: 6px;">
				<div class="row">
					<div class="col-10">
						<img src="{{ hazard.index_icon_path }}" style="height: 20px; width: 20px; display: inline-block;" >
						<span style="font-weight: bold; font-size: 10pt; color: #000;" ng-bind="hazard.hazard_type_name"></span>
					</div>
					<div class="col-2" style="text-align: right;">
						<span style="font-size: 8pt; color: #333;">[<span ng-bind="hazard.rm_ref"></span>]</span>
					</div>
				</div>
				<div class="row pt-5">
					<div class="col-7">
						<div class="row">
							<div class="col-6">
								<span style="font-size: 8pt; color: #333;">Without Controls</span>

								<div style="width: 100%; padding: 4px; background-color: {{ hazard.initial_colour }}">
									<span style="color: #fff; font-weight: bold; font-size: 12pt;">
										<span ng-bind="hazard.matrix_score_phrase_initial"></span> [<span ng-bind="hazard.matrix_score_initial"></span>]
									</span>
								</div>
							</div>
							<div class="col-6">
								<span style="font-size: 8pt; color: #333;">With Controls</span>

								<div style="width: 100%; padding: 4px; background-color: {{ hazard.after_colour }};">
									<span style="color: #fff; font-weight: bold; font-size: 12pt;">
										<span ng-bind="hazard.matrix_score_phrase_after"></span> [<span ng-bind="hazard.matrix_score_after"></span>]
									</span>
								</div>
							</div>
						</div>

						<div class="row" style="margin-top: 20px;">
							<div class="col-4">
								<img ng-src="{{ hazard.hazard_type_icon_path }}" style="max-width: 100%; height: auto;" >
							</div>
							<div class="col-8">
								<div class="row">
									<div class="col-2">
										<span style="color: #333; font-size: 8pt;">ORIGIN</span>
									</div>
									<div class="col-10" style="color: #000; font-size: 10pt;">
										<span ng-show="hazard.hazard_origin_name" ng-bind="hazard.hazard_origin_name"></span>
										<span ng-show="!hazard.hazard_origin_name">N/A</span>
									</div>
								</div>

								<div class="row">
									<div class="col-2">
										<span style="color: #333; font-size: 8pt;">RESULT</span>
									</div>
									<div class="col-10" style="color: #000; font-size: 10pt;">
										<span ng-show="hazard.hazard_consequence_name" ng-bind="hazard.hazard_consequence_name"></span>
										<span ng-show="!hazard.hazard_consequence_name">N/A</span>
									</div>
								</div>

								<div class="row">
									<div class="col-2">
										<span style="color: #333; font-size: 8pt;">NOTES</span>
									</div>
									<div class="col-10" style="color: #000; font-size: 10pt;">
										<span ng-show="hazard.hazard_description" ng-bind="hazard.hazard_description"></span>
										<span ng-show="!hazard.hazard_description">N/A</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-5">
						<div class="row" style="margin-top: 20px;">
							<div class="col-12" style="text-align: center;">

								<div ng-show="hazard.media.length" ng-repeat="media in hazard.media | limitTo: 1">
									<img ng-show="media.file_downloaded == 'Yes'" ng-src="{{ media.url }}" style="max-width: 100%; height: auto;" >

									<img ng-show="media.file_downloaded == null" src="../images/custom_icons/media-file-not-downloaded.png" style="max-width: 100%; height: auto;" >
								</div>

								<div ng-show="!hazard.media.length">
									<img src="../images/custom_icons/No Media.png" style="max-width: 100%; height: auto;" >
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END HAZARD INFO -->


			<!-- START HAZARDS CONTROLS -->
			<div class="row" ng-repeat="control in hazard.controls" style="margin-top: 6px;">
				<div class="col-1" style="text-align: center;">
					<img src="../images/custom_icons/Control Item Grey.png" style="height: 40px; width: 40px;" > 
				</div>
				<div class="col-11">
					<div style="background-color: #f5f4f5; padding: 6px;">
						<div class="row">
							<div class="col-10">
								<span style="color: #333; font-size: 8pt;">WE WILL HAVE/DO/USE:</span>
								<br>
								<img src="{{ control.index_icon_path }}" style="height: 20px; width: 20px; display: inline-block;" >
								<span style="font-weight: bold; font-size: 10pt; color: #000;" ng-bind="control.rrm3_name"></span>
								<br>
								<span style="font-size: 10pt; color: #333;">
									<span ng-bind="control.rrm2_name"></span>, <span ng-bind="control.rrm1_name"></span>
								</span>
							</div>
							<div class="col-2" style="text-align: right;">
								<span style="font-size: 8pt; color: #333;">[<span ng-bind="hazard.rm_ref"></span>]</span>
							</div>
						</div>
						<div class="row">
							<div class="col-7">
								<div class="row" style="margin-top: 20px;">
									<div class="col-12">
										<img ng-show="control.icon_url" ng-src="{{ control.icon_url }}" style="max-width: 100%; height: auto;" >

										<img ng-show="!control.icon_url" src="../images/custom_icons/Control Item Grey.png" style="max-width: 100%; height: auto;" >
									</div>
								</div>
							</div>

							<div class="col-5">
								<div class="row" style="margin-top: 20px;">
									<div class="col-12" style="text-align: center;">

										<div ng-show="control.media.length" ng-repeat="media in control.media | limitTo: 1">
											<img ng-show="media.file_downloaded == 'Yes'" ng-src="{{ media.url }}" style="max-width: 100%; height: auto;" >

											<img ng-show="media.file_downloaded == null" src="../images/custom_icons/media-file-not-downloaded.png" style="max-width: 100%; height: auto;" >
										</div>

										<div ng-show="!control.media.length">
											<img src="../images/custom_icons/No Media.png" style="max-width: 100%; height: auto;" >
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="row pt-5">
							<div class="col-12">
								<span style="color: #333; font-size: 8pt;">DESCRIPTION</span>
								<div style="color: #000; font-size: 10pt;">
									<span ng-show="control.description" ng-bind="control.description"></span>
									<span ng-show="!control.description">N/A</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END HAZARDS CONTROLS -->
		</div>
	</div>

	<div class="row" ng-show="!vm.utils.pdf_gen.data.hazards.length">
		<div class="col-12" style="text-align: center;">
			<span style="font-size: 10pt; color: #000;">No hazards recorded for this procedure</span>
		</div>
	</div>
	<!-- END HAZARD/CONTROL APPENDIX -->


	<!-- START PDF META -->
	<div class="break-before"></div>

	<div class="row mt-5" ng-show="!vm.utils.pdf_gen.meta.preview">
		<div class="col-12">
			<p><span class="fw-bold">App Version:</span> <span ng-bind="vm.utils.pdf_gen.meta.app_version || 'N/A'"></span></p>

			<p><span class="fw-bold">Content Modified:</span> <span ng-bind="vm.utils.pdf_gen.meta.date_content_modified | date: 'dd/MM/yyyy h:mm a'"></span></p>

			<p><span class="fw-bold">Generated:</span> <span ng-bind="vm.utils.pdf_gen.meta.date_created | date: 'dd/MM/yyyy h:mm a'"></span></p>

			<p><span class="fw-bold">User ID:</span> <span ng-bind="vm.utils.pdf_gen.meta.rm_user_id || 'N/A'"></span></p>

			<p><span class="fw-bold">Licensed:</span> <span ng-show="vm.utils.pdf_gen.meta.licensed">Yes</span><span ng-show="!vm.utils.pdf_gen.meta.licensed">No</span></p>
		</div>
	</div>
	<!-- END PDF META -->


	<!-- START PREVIEW WATERMARK -->
	<div class="pdf-preview-watermark" ng-show="vm.utils.pdf_gen.meta.preview">
		<img src="../images/custom_icons/draft-from-preview.png" />
	</div>
	<!-- END PREVIEW WATERMARK -->


	<!-- START DRAFT WATERMARK -->
	<div class="pdf-draft-watermark-fixed" ng-show="vm.utils.pdf_gen.meta.draft && !vm.utils.pdf_gen.meta.preview">
		<img class="pdf-draft-watermark-img" src="../images/custom_icons/draft.png" />
	</div>
	<!-- END DRAFT WATERMARK -->


	<!-- START APP VERSION WATERMARK -->
	<div class="pdf-webapp-watermark">
		<span>RiskMach WebApp {{ vm.utils.pdf_gen.meta.app_version }}</span>
	</div>
	<!-- END APP VERSION WATERMARK -->

</div>